In [1]:
import pandas as pd

dictionary = {"Name":["Yusuf","Recep","Ayberk","Ayşegül","Aslı"],
             "Age":[22,51,25,42,None],
             "Note":[333,338,342,87654,111]}

dataframe1 = pd.DataFrame(dictionary) 
print(dataframe1)

      Name   Age   Note
0    Yusuf  22.0    333
1    Recep  51.0    338
2   Ayberk  25.0    342
3  Ayşegül  42.0  87654
4     Aslı   NaN    111

In [2]:
head = dataframe1.head() 
print(head)

      Name   Age   Note
0    Yusuf  22.0    333
1    Recep  51.0    338
2   Ayberk  25.0    342
3  Ayşegül  42.0  87654
4     Aslı   NaN    111

In [3]:
tail = dataframe1.tail()
print(tail)

      Name   Age   Note
0    Yusuf  22.0    333
1    Recep  51.0    338
2   Ayberk  25.0    342
3  Ayşegül  42.0  87654
4     Aslı   NaN    111

In [4]:
print(dataframe1.columns)

Index(['Name', 'Age', 'Note'], dtype='object')

In [5]:
print(dataframe1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     4 non-null      float64
 2   Note    5 non-null      int64
dtypes: float64(1), int64(1), object(1)
memory usage: 248.0+ bytes
None

In [6]:
print(dataframe1.dtypes)

Name     object
Age     float64
Note      int64
dtype: object

In [7]:
print(dataframe1.describe())

             Age          Note
count   4.000000      5.000000
mean   35.000000  17755.600000
std    13.832329  39074.516879
min    22.000000    111.000000
25%    24.250000    333.000000
50%    33.500000    338.000000
75%    44.250000    342.000000
max    51.000000  87654.000000

In [8]:
print(dataframe1["Name"]) 
print(dataframe1.loc[:, "Age"])                      
dataframe1["yeni_future"] = [1,2,3,4,5]
print(dataframe1.loc[:2,"Age"]) 
print(dataframe1.loc[:2, "Name":"Note"])                 
print(dataframe1.loc[::-1])

0      Yusuf
1      Recep
2     Ayberk
3    Ayşegül
4       Aslı
Name: Name, dtype: object
0    22.0
1    51.0
2    25.0
3    42.0
4     NaN
Name: Age, dtype: float64
0    22.0
1    51.0
2    25.0
Name: Age, dtype: float64
     Name   Age  Note
0   Yusuf  22.0   333
1   Recep  51.0   338
2  Ayberk  25.0   342
      Name   Age   Note  yeni_future
4     Aslı   NaN    111            5
3  Ayşegül  42.0  87654            4
2   Ayberk  25.0    342            3
1    Recep  51.0    338            2
0    Yusuf  22.0    333            1

In [9]:
print(dataframe1.yeni_future)

0    1
1    2
2    3
3    4
4    5
Name: yeni_future, dtype: int64

In [10]:
print(dataframe1.loc[:, "Age"])

0    22.0
1    51.0
2    25.0
3    42.0
4     NaN
Name: Age, dtype: float64

In [11]:
print(dataframe1.loc[:3,"Age"])

0    22.0
1    51.0
2    25.0
3    42.0
Name: Age, dtype: float64

In [12]:
print(dataframe1.loc[:1, "Name":"Note"])

    Name   Age  Note
0  Yusuf  22.0   333
1  Recep  51.0   338

In [13]:
print(dataframe1.loc[:2, ["Name","Note"]])

     Name  Note
0   Yusuf   333
1   Recep   338
2  Ayberk   342

In [14]:
print(dataframe1.loc[::-1])

      Name   Age   Note  yeni_future
4     Aslı   NaN    111            5
3  Ayşegül  42.0  87654            4
2   Ayberk  25.0    342            3
1    Recep  51.0    338            2
0    Yusuf  22.0    333            1

In [15]:
print(dataframe1.loc[:,:"Age"])

      Name   Age
0    Yusuf  22.0
1    Recep  51.0
2   Ayberk  25.0
3  Ayşegül  42.0
4     Aslı   NaN

In [16]:
print(dataframe1.iloc[:,[3]])

   yeni_future
0            1
1            2
2            3
3            4
4            5

In [17]:
filtre1 = dataframe1.Age>35                           
dataframe1["Bool"]= filtre1
print(dataframe1.loc[:,["Age","Bool"]])

    Age   Bool
0  22.0  False
1  51.0   True
2  25.0  False
3  42.0   True
4   NaN  False

In [18]:
type(filtre1)

pandas.core.series.Series

In [19]:
filtrelenmis_data= dataframe1[filtre1] 
print(filtrelenmis_data)

      Name   Age   Note  yeni_future  Bool
1    Recep  51.0    338            2  True
3  Ayşegül  42.0  87654            4  True

In [20]:
filtre2 = dataframe1.Note>150
filtrelenmis_data2 = dataframe1[filtre2&filtre1] 
print(filtrelenmis_data2)

      Name   Age   Note  yeni_future  Bool
1    Recep  51.0    338            2  True
3  Ayşegül  42.0  87654            4  True

In [21]:
dataframe1[dataframe1.Age>23]

      Name   Age   Note  yeni_future   Bool
1    Recep  51.0    338            2   True
2   Ayberk  25.0    342            3  False
3  Ayşegül  42.0  87654            4   True

In [22]:
import numpy as np

ortalama = dataframe1.Note.mean()
print(ortalama)

ortlama_np= np.mean(dataframe1.Note) 
print(ortlama_np)

17755.6
17755.6

In [23]:
dataframe1.dropna(inplace=True)

dataframe1

      Name   Age   Note  yeni_future   Bool
0    Yusuf  22.0    333            1  False
1    Recep  51.0    338            2   True
2   Ayberk  25.0    342            3  False
3  Ayşegül  42.0  87654            4   True

In [24]:
print(dataframe1.Note.mean()) 
dataframe1["Ortalama"]= ["Ortalamanın Altında NOT" if dataframe1.Note.mean()>each else "Ortalamanın Üstünde NOT" for each in dataframe1.Note]
dataframe1

22166.75

      Name   Age   Note  yeni_future   Bool                 Ortalama
0    Yusuf  22.0    333            1  False  Ortalamanın Altında NOT
1    Recep  51.0    338            2   True  Ortalamanın Altında NOT
2   Ayberk  25.0    342            3  False  Ortalamanın Altında NOT
3  Ayşegül  42.0  87654            4   True  Ortalamanın Üstünde NOT

In [25]:
dataframe1.columns = [each.upper() for each in dataframe1.columns]
dataframe1.columns

Index(['NAME', 'AGE', 'NOTE', 'YENI_FUTURE', 'BOOL', 'ORTALAMA'], dtype='object')

In [26]:
dataframe1.columns = [ each.split(" ")[0]+"_"+each.split(" ")[1] if len(each.split(" "))>1 else each for each in dataframe1.columns]
dataframe1

      NAME   AGE   NOTE  YENI_FUTURE   BOOL                 ORTALAMA
0    Yusuf  22.0    333            1  False  Ortalamanın Altında NOT
1    Recep  51.0    338            2   True  Ortalamanın Altında NOT
2   Ayberk  25.0    342            3  False  Ortalamanın Altında NOT
3  Ayşegül  42.0  87654            4   True  Ortalamanın Üstünde NOT

In [27]:
data1 = dataframe1.head()     
data2 = dataframe1.tail()
data_concat = pd.concat([data1,data2],axis=0)
data_concat

      NAME   AGE   NOTE  YENI_FUTURE   BOOL                 ORTALAMA
0    Yusuf  22.0    333            1  False  Ortalamanın Altında NOT
1    Recep  51.0    338            2   True  Ortalamanın Altında NOT
2   Ayberk  25.0    342            3  False  Ortalamanın Altında NOT
3  Ayşegül  42.0  87654            4   True  Ortalamanın Üstünde NOT
0    Yusuf  22.0    333            1  False  Ortalamanın Altında NOT
1    Recep  51.0    338            2   True  Ortalamanın Altında NOT
2   Ayberk  25.0    342            3  False  Ortalamanın Altında NOT
3  Ayşegül  42.0  87654            4   True  Ortalamanın Üstünde NOT

In [28]:
dataframe1["Büyük Yaş"] = [each*2 for each in dataframe1.AGE]
dataframe1

,NAME,AGE,NOTE,YENI_FUTURE,BOOL,ORTALAMA,Büyük Yaş
0,Yusuf,22.0,333,1,False,Ortalamanın Altında NOT,44.0
1,Recep,51.0,338,2,True,Ortalamanın Altında NOT,102.0
2,Ayberk,25.0,342,3,False,Ortalamanın Altında NOT,50.0
3,Ayşegül,42.0,87654,4,True,Ortalamanın Üstünde NOT,84.0

In [29]:
def mlt(yas):
    return yas*2
dataframe1["apply_metodu"] = dataframe1.AGE.apply(mlt)
dataframe1

,NAME,AGE,NOTE,YENI_FUTURE,BOOL,ORTALAMA,Büyük Yaş,apply_metodu
0,Yusuf,22.0,333,1,False,Ortalamanın Altında NOT,44.0,44.0
1,Recep,51.0,338,2,True,Ortalamanın Altında NOT,102.0,102.0
2,Ayberk,25.0,342,3,False,Ortalamanın Altında NOT,50.0,50.0
3,Ayşegül,42.0,87654,4,True,Ortalamanın Üstünde NOT,84.0,84.0